BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "in" SITE "12" ;
LOCATE COMP "out" SITE "13" ;
IOBUF PORT "in" HYSTERESIS=NA IO_TYPE=LVCMOS25R33 VREF="MyVref" ;
LOCATE VREF "MyVref" SITE "11" ;
IOBUF PORT "out" IO_TYPE=LVCMOS33 ;
