BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
FREQUENCY NET "clk" 200.00000 MHz;
USE PRIMARY NET "clk";
#LOCATE COMP "fd_0" SITE "R2C2D";
#LOCATE COMP "fd_1" SITE "R2C124D";
#LOCATE COMP "fd_2" SITE "R93C124A";
#LOCATE COMP "fd_3" SITE "R93C2A";