LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVDS;

LOCATE COMP "led[0]" SITE "E16";
LOCATE COMP "led[1]" SITE "D17";
LOCATE COMP "led[2]" SITE "D18";
LOCATE COMP "led[3]" SITE "E18";
LOCATE COMP "led[4]" SITE "F17";
LOCATE COMP "led[5]" SITE "F18";
LOCATE COMP "led[6]" SITE "E17";
LOCATE COMP "led[7]" SITE "F16";

IOBUF PORT "led[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "disp[0]" SITE "M20";
LOCATE COMP "disp[1]" SITE "L18";
LOCATE COMP "disp[2]" SITE "M19";
LOCATE COMP "disp[3]" SITE "L16";
LOCATE COMP "disp[4]" SITE "L17";
LOCATE COMP "disp[5]" SITE "M18";
LOCATE COMP "disp[6]" SITE "N16";
LOCATE COMP "disp[7]" SITE "M17";
LOCATE COMP "disp[8]" SITE "N18";
LOCATE COMP "disp[9]" SITE "P17";
LOCATE COMP "disp[10]" SITE "N17";
LOCATE COMP "disp[11]" SITE "P16";
LOCATE COMP "disp[12]" SITE "R16";
LOCATE COMP "disp[13]" SITE "R17";

IOBUF PORT "disp[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "disp[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "disp[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "disp[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "disp[4]" IO_TYPE=LVCMOS25;
IOBUF PORT "disp[5]" IO_TYPE=LVCMOS25;
IOBUF PORT "disp[6]" IO_TYPE=LVCMOS25;
IOBUF PORT "disp[7]" IO_TYPE=LVCMOS25;
IOBUF PORT "disp[8]" IO_TYPE=LVCMOS25;
IOBUF PORT "disp[9]" IO_TYPE=LVCMOS25;
IOBUF PORT "disp[10]" IO_TYPE=LVCMOS25;
IOBUF PORT "disp[11]" IO_TYPE=LVCMOS25;
IOBUF PORT "disp[12]" IO_TYPE=LVCMOS25;
IOBUF PORT "disp[13]" IO_TYPE=LVCMOS25;

