.device LFE5UM-85F

.tile CIB_R10C3:PVT_COUNT2
unknown: F2B0
unknown: F3B0
unknown: F5B0
unknown: F11B0
unknown: F13B0

.tile CIB_R5C125:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R5C1:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R94C123:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R94C3:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R94C46:CIB_DCU0
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C47:CIB_DCUA
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C48:CIB_DCUB
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C49:CIB_DCUC
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C50:CIB_DCUD
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C51:CIB_DCUF
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C52:CIB_DCU3
unknown: F20B10
unknown: F22B10
unknown: F23B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C53:CIB_DCU2
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R94C54:CIB_DCUG
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R94C55:CIB_DCUH
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R94C56:CIB_DCUI
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R94C57:CIB_DCU1
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10

.tile CIB_R94C6:CIB_EFB0
enum: CIB.JB3MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C71:CIB_DCU0
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C72:CIB_DCUA
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C73:CIB_DCUB
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C74:CIB_DCUC
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C75:CIB_DCUD
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C76:CIB_DCUF
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C77:CIB_DCU3
unknown: F20B10
unknown: F22B10
unknown: F23B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R94C78:CIB_DCU2
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R94C79:CIB_DCUG
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R94C7:CIB_EFB1
enum: CIB.JA3MUX 0
enum: CIB.JA4MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA6MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB4MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB6MUX 0
enum: CIB.JC3MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC5MUX 0
enum: CIB.JD3MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD5MUX 0

.tile CIB_R94C80:CIB_DCUH
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R94C81:CIB_DCUI
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R94C82:CIB_DCU1
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10

.tile MIB_R22C67:CMUX_UL_0
arc: G_DCS0CLK0 G_VPFN0000

.tile MIB_R22C68:CMUX_UR_0
arc: G_DCS0CLK1 G_VPFN0000

.tile MIB_R70C67:CMUX_LL_0
arc: G_DCS1CLK0 G_VPFN0000

.tile MIB_R70C68:CMUX_LR_0
arc: G_DCS1CLK1 G_VPFN0000

.tile MIB_R95C101:PICB0
unknown: F0B1

.tile MIB_R95C102:PICB1
unknown: F0B1

.tile MIB_R95C103:PICB0
unknown: F0B1

.tile MIB_R95C104:PICB1
unknown: F0B1

.tile MIB_R95C105:PICB0
unknown: F0B1

.tile MIB_R95C106:PICB1
unknown: F0B1

.tile MIB_R95C107:PICB0
unknown: F0B1

.tile MIB_R95C108:PICB1
unknown: F0B1

.tile MIB_R95C110:PICB0
unknown: F0B1

.tile MIB_R95C111:PICB1
unknown: F0B1

.tile MIB_R95C112:PICB0
unknown: F0B1

.tile MIB_R95C113:PICB1
unknown: F0B1

.tile MIB_R95C114:PICB0
unknown: F0B1

.tile MIB_R95C115:PICB1
unknown: F0B1

.tile MIB_R95C116:PICB0
unknown: F0B1

.tile MIB_R95C117:PICB1
unknown: F0B1

.tile MIB_R95C119:PICB0
unknown: F0B1

.tile MIB_R95C120:PICB1
unknown: F0B1

.tile MIB_R95C121:PICB0
unknown: F0B1

.tile MIB_R95C122:PICB1
unknown: F0B1

.tile MIB_R95C4:EFB0_PICB0
unknown: F54B1
unknown: F56B1
unknown: F82B1
unknown: F94B1

.tile MIB_R95C96:PICB0
unknown: F0B1

.tile MIB_R95C97:PICB1
unknown: F0B1

.tile MIB_R95C98:PICB0
unknown: F0B1

.tile MIB_R95C99:PICB1
unknown: F0B1

