.device LFE5UM-45F

.tile CIB_R10C3:PVT_COUNT2
unknown: F2B0
unknown: F3B0
unknown: F5B0
unknown: F11B0
unknown: F13B0

.tile CIB_R5C1:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R5C89:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R70C3:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R70C42:CIB_DCU0
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R70C43:CIB_DCUA
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R70C44:CIB_DCUB
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R70C45:CIB_DCUC
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R70C46:CIB_DCUD
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R70C47:CIB_DCUF
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R70C48:CIB_DCU3
unknown: F20B10
unknown: F22B10
unknown: F23B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R70C49:CIB_DCU2
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R70C50:CIB_DCUG
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R70C51:CIB_DCUH
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R70C52:CIB_DCUI
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R70C53:CIB_DCU1
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10

.tile CIB_R70C69:CIB_DCU0
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R70C6:CIB_EFB0
enum: CIB.JB3MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R70C70:CIB_DCUA
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R70C71:CIB_DCUB
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R70C72:CIB_DCUC
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R70C73:CIB_DCUD
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R70C74:CIB_DCUF
unknown: F20B10
unknown: F21B10
unknown: F22B10
unknown: F23B10
unknown: F28B10
unknown: F29B10
unknown: F30B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R70C75:CIB_DCU3
unknown: F20B10
unknown: F22B10
unknown: F23B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F75B10
unknown: F76B10
unknown: F77B10
unknown: F82B10
unknown: F83B10
unknown: F84B10
unknown: F85B10

.tile CIB_R70C76:CIB_DCU2
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R70C77:CIB_DCUG
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R70C78:CIB_DCUH
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R70C79:CIB_DCUI
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10
unknown: F76B10
unknown: F83B10
unknown: F85B10

.tile CIB_R70C7:CIB_EFB1
enum: CIB.JA3MUX 0
enum: CIB.JA4MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA6MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB4MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB6MUX 0
enum: CIB.JC3MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC5MUX 0
enum: CIB.JD3MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD5MUX 0

.tile CIB_R70C80:CIB_DCU1
unknown: F20B10
unknown: F22B10
unknown: F29B10
unknown: F31B10
unknown: F74B10

.tile CIB_R70C87:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile MIB_R10C40:CMUX_UL_0
arc: G_DCS0CLK0 G_VPFN0000

.tile MIB_R10C41:CMUX_UR_0
arc: G_DCS0CLK1 G_VPFN0000

.tile MIB_R58C40:CMUX_LL_0
arc: G_DCS1CLK0 G_VPFN0000

.tile MIB_R58C41:CMUX_LR_0
arc: G_DCS1CLK1 G_VPFN0000

.tile MIB_R71C4:EFB0_PICB0
unknown: F54B1
unknown: F56B1
unknown: F82B1
unknown: F94B1

