.device LCMXO2-1200HC

.tile EBR_R6C11:EBR1
unknown: F0B12

.tile EBR_R6C15:EBR1
unknown: F0B12

.tile EBR_R6C18:EBR1
unknown: F0B12

.tile EBR_R6C21:EBR1
unknown: F0B12

.tile EBR_R6C2:EBR1
unknown: F0B12

.tile EBR_R6C5:EBR1
unknown: F0B12

.tile EBR_R6C8:EBR1
unknown: F0B12

.tile PT4:CFG0
unknown: F5B30
unknown: F5B32
unknown: F5B36

.tile PT7:CFG3
unknown: F5B18
