LOCATE COMP "clkin" SITE "A10";
IOBUF PORT "clkin" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "B17";
LOCATE COMP "led[1]" SITE "A17";
LOCATE COMP "led[2]" SITE "C17";
LOCATE COMP "led[3]" SITE "B18";
LOCATE COMP "led[4]" SITE "A18";
LOCATE COMP "led[5]" SITE "B19";
LOCATE COMP "led[6]" SITE "A12";
LOCATE COMP "led[7]" SITE "A13";

IOBUF PORT "led[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "uart_tx" SITE "P3";
LOCATE COMP "uart_rx" SITE "P2";

IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33;

LOCATE COMP "clkout" SITE "A19";
IOBUF PORT "clkout" IO_TYPE=LVCMOS25;
